<h1>Inicio sesion</h1>

<form method="POST" action="/api/sessions/login">
    <input type="text" name="email" placeholder="email"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="Iniciar sesion"/>
</form>

<hr>

<div>
    <a href="/api/sessions/github">Iniciar sesión con GitHub</a>
</div>
<hr>
<div>
    <a href="/api/sessions/github">Registro con GitHub</a>
</div>