<h1>Bienvenido al panel de administración</h1>
<h2>{{user.first_name}} {{user.last_name}}</h2>

<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>

<div>
    <a href="/api/users">Ver usuarios</a>
</div>
<hr>

<div>
    <a href="/store/products">Ver productos</a>
</div>

<hr>


<a href="/api/sessions/logout">Logout</a>