<h1>Bienvenido, {{user.first_name}} {{user.last_name}}</h1>

<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>

<div>
    <a href="/store/products">
        Ver productos
    </a>
</div>

<a href="/api/sessions/logout">Logout</a>