<h1>Registrarse</h1>

<form method="POST" action="/api/sessions/register">
    <input type="text" name="first_name" placeholder="First name"/><br>
    <input type="text" name="last_name" placeholder="Last name"/><br>
    <input type="number" name="age" placeholder="Age"/></br>
    <input type="text" name="email" placeholder="Email"/><br>
    <input type="password" name="password" placeholder="Password"/><br>
    <input type="submit" value="Registrarse"/>
</form>

<a href="/api/sessions/github">Registro con GitHub</a>